mixin product(img, name,text)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +product()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .product.product-wrap.text-center
    .product__img
      a(href="#")
        img(src=img, alt="")
    .product__name
      h4=name
    .product__text
      p=text
  //.product-wrap
