/*********************
    - 2. General -
*********************/

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(middle);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}

.btn-primary{
  background-color: #15502e;
  vertical-align: middle;
  text-align: center;
  display: block;
}

.col6{
  width: 50%;
}
.col4{
  width: 33.33%;
}
.col8{
  width: 66.67%;
}
.col-50{
  width: 50%;
}

.title--base{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  color: #333;
}