// header
.header {
  border-bottom: 1px solid #b1b1b1;
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #fff;
  &__wrap {
    line-height: 99px;
    vertical-align: middle;
    @media screen and (max-width: 767px){
      line-height: 60px;
    }
  }
  .navbar{
    margin-bottom: 0;
  }
  .navbar-toggle{
    margin: 0;
    padding: 0;
    i{
      font-size: 25px;
      line-height: 62px;
    }
  }
  .navbar-header.logo{
    @media screen and (max-width: 767px){
      float: none;
    }
    a.navbar-brand{
      margin-top: 17px;
      @media screen and (max-width: 767px){
        margin-top: 0;
      }
    }
  }
}

.main__menu {
  margin: 0 -22.5px;
  @media screen and (max-width: 767px){
    float: none;
  }
  ul {
    font-size: 0;
    li {
      font-size: 18px;
      position: relative;
      cursor: pointer;
      transition: all 0.5s ease;
      line-height: 99px;
      &::after {
        content: "";
        position: absolute;
        z-index: 101;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 3px;
        background: #15502e;
      }
      &:hover::after {
        width: 100%;
        transition: all 0.5s ease;
      }
      a {
        display: inline-block;
        line-height: 99px;
        padding: 0;
        @media screen and (max-width: 767px){
          line-height: 45px;
          display: block;
        }
        &:hover{
          color: #15502e;
        }
        span {
          text-transform: capitalize;
          padding: 0 22.5px;
          @media screen and (max-width:991px ){
            padding: 0 10px;            
          }
        }
      }
    }
  }
}

//banner
.banner {
  padding-top: 100px;
  @media screen and (max-width:768px){
    padding-top: 60px;
  }
  &__slider {
    img {
      height: 100vh;
      width: 100vw;
    }
    .bg {
      width: 100vw;
      height: 100vh;
      background-color: #202020;
      opacity: 0.7;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .item {
      position: relative;
      z-index: 99;
      &__content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        text-align: center;
        color: #fff;
        display: inline-table;
        p {
          font-size: 52px;
          font-weight: 500;
        }
        a {
          font-size: 24px;
          line-height: 60px;
          display: inline-block;
          height: 60px;
          width: 260px;
          margin: auto;
          font-weight: 400;
          text-transform: uppercase;
          background-color: #15502e;
          margin-top: 40px;
          &:hover{
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

//introduce
.introduce {
  padding-top: 115px;
  padding-bottom: 120px;
  background-color: #fff;
  &--title {
    margin: 0 0 50px;
  }
  &--subtitle {
    font-weight: 500;
    font-size: 24px;
    color: #333;
  }
  &--description {
    font-weight: 300;
    color: #666;
  }
  &--list {
    margin: 0;
    padding: 0;
    list-style-image: url('images/icon1.png');
    margin-left: 22px;
    li {
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 500;
      color: #444;
    }
  }
}

// footer
.footer {
  background-image: url("images/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &__wrap {
    position: relative;
    background: #000000bf;
    h1 {
      padding: 90px 0;
      margin: 0;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
    }
  }
  &__form {
    text-align: center;
    height: 100%;
    z-index: 11;
  }
  &__bottom {
    p {
      margin: 0;
      text-align: center;
      line-height: 110px;
      color: #fff;
    }
  }
}

.information {
  p {
    color: #fff;
    font-weight: 500;
    position: relative;
    padding-left: 130px;
    text-align: left;
    margin: 15px 0;
    padding-right: 100px;
    line-height: 25px;
    @media screen and (max-width:425px){
      overflow: hidden;
      padding-right: 0;
      padding-left: 65px;
    }
    span {
      position: absolute;
      font-weight: 400;
      left: 0;
      top: 0;
    }
  }
}

.footer__wrap{
  padding-bottom: 75px;
  .form__contact{
    input,textarea,button{
      margin-right: 40px;
      width: 100%;
      box-sizing: border-box;
      padding: 14px 39px;
      font-size: 14px;
      border:none;
      border-radius: 10px;
      margin-bottom: 23px;
      outline: none;
    }
    button{
      background-color: #15502e;
      color: #fff;
    }
  }
}
.footer__bottom{
  background-color: #141414;
  color: #fff;
}
//detail
.detail {
  background-color: #fafafa;
  &__title {
    font-size: 36px;
  }
}