@media (min-width: 1200px){
  .container {
    width: 1230px;
  }
}
.detail {
  &--title {
    margin-bottom: 65px;
  }
  &--subtitle {
    text-transform: uppercase;
  }
  &--description {
    margin-bottom: 35px;
  }
  &--img {
    padding-top: 135px;
    @media screen and (max-width:768px){
      text-align: center; 
    }
  }
  margin-bottom: 165px;
}

.products {
  margin-bottom: 165px;
  &--list {
    ul {
      max-width: 880px;
      margin: 0 auto;
    }
    li>a {
      border-radius: 0;
      text-decoration: none;
      text-transform: uppercase;
      padding: 15px 35px;
      font-size: 18px;
    }
    .nav-pills>li.active>a,
    .nav-pills>li.active>a:focus,
    .nav-pills>li.active>a:hover {
      background-color: #15502e;
    }
  }
  a:hover {
    color: #15502e;
  }
  .tab-content{
    margin-top: 60px;
  }
}
.introduce__img{
  @media screen and (max-width:768px){
    text-align: center; 
  }
}
.introduce__right{
  @media screen and (max-width:768px){
    margin-top: 25px;
  }
  .introduce--title{
    @media screen and (max-width:768px){
      text-align: center; 
    }
  }
}
.news{
  margin-bottom: 165px;
  .new-item{
    &__img{
      margin-bottom: 35px;
      @media screen and (max-width:768px){
        text-align: center; 
      }
      img{
        height: 284px;
      }
    }
    &__info{
      padding:0 30px;
    }
    &__title{
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__content{
      font-size: 16px;
      color: #666666;
      height: 45px;
      overflow: hidden;
      position: relative;
      padding-right: 15px;
      margin-bottom: 20px;
      p{
        text-align: justify;
      }
      &::after{
        content:"...";
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    &__act{
      a{
        font-size: 13px;
        color: #15502e;
        text-decoration: underline;
      }
    }
  }
}
.projects{
  max-width: 1030px;
  margin: 0 auto;
  margin-bottom: 100px;
  .owl-carousel button{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    outline: none;
    &.owl-prev{
      left: -35px;
    }
    &.owl-next{
      right: -35px;
    }
    span{
      font-size: 75px;
      font-weight: 300;
    }
  }
  .owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent;
    color: #000;
  }
  &__title{
    text-transform: uppercase;
    font-size: 24px;
    color:#333333;
  }
  &__text{
    text-transform: uppercase;
    font-size: 18px;
    color: #333333;
    margin-bottom: 45px;
  }
  &__act{
    a{
      padding: 15px 45px;
      background-color: #15502e;
      display: inline-block;
      font-size: 18px;
      color: #fff;
    }
  }
}
.Du-An,.News{
  padding-top: 100px;
  padding-bottom: 115px;
  &__title{
    margin-top: 60px;
    margin-bottom: 65px;
    color: #555555;
    a{
      font-weight: 600;
      font-size: 18px;
      &:hover{
        text-decoration: none;
      }
    }
    p{
      margin-bottom: 0;
      font-weight: 600;
      font-size: 18px;
    }
    span {
      margin-left: 4px;
    }
  }
  &__content{
    .title{
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 65px;
    }
  }
  .post{
    p{
      text-align: justify;
      color: #555555;
    }
  }
}
.product-page{
  padding-top: 100px;
  padding-bottom: 115px;
  .product__title{
    margin-top: 60px;
    margin-bottom: 65px;
    color: #555555;
    a{
      font-weight: 600;
      font-size: 18px;
      &:hover{
        text-decoration: none;
      }
    }
    p{
      margin-bottom: 0;
      font-weight: 600;
      font-size: 18px;
    }
    span {
      margin-left: 4px;
    }
  }
  .product-detail{
    td{
      padding:10px 15px;
      border: 1px solid #555555;
      p{
        margin: 0;
      }
    }
  }
  .detail-orther{
    ul{
      list-style: none;
      padding-left: 0;
    }
  }
}