extends _layouts/layout
block content
  section#banner.banner
    .banner__wrap
      .banner__slider.owl-carousel
        .item
          img(src="images/banner.png", alt="")
          .bg
          .item__content
            p Thương Hiệu Tiên Phong
            p Chuyên cung cấp máy công nghiệp nặng
            a.item__act(href="#") tìm hiểu thêm
        .item
          img(src="images/banner.png", alt="")
          .item__content
            p Thương Hiệu Tiên Phong
            p Chuyên cung cấp máy công nghiệp nặng
            a.item__act(href="#") tìm hiểu thêm
        .item
          img(src="images/banner2.png", alt="")
          .item__content
            p Thương Hiệu Tiên Phong
            p Chuyên cung cấp máy công nghiệp nặng
            a.item__act(href="#") tìm hiểu thêm
    .container
      .introduce
        .introduce__wrap.row
          .introduce__left.col-sm-5
            .introduce__img
              img(src="images/introduce_img.png", alt="img-introduce")
          .introduce__right.col-sm-6.col-md-offset-1
            .introduce__infor
              h2.introduce--title.title--base giới thiệu
              p.introduce--subtitle
                bold Thương hiệu chất lượng
              p.introduce--description Bruco đã và đang không ngừng vươn lên mạnh mẽ trở thành một trong những thương hiệu dẫn đầu về công nghệ trong lĩnh vực nghiên cứu, thiết kế, phát triển và sản xuất các dòng sản phẩm phục vụ sản xuất kết cấu thép và gia công cơ khí.
              ul.introduce--list
                li Đảm bảo chất lượng và giá thành hợp lý
                li Đội ngũ nhân viên trình độ chuyên môn và tay nghề cao
                li Đem đến những giải pháp vượt trội và giá trị vững bền.
          .clear-fix
      .detail.row
        .col-sm-7
          h2.detail--title.title--base thiết bị dây chuyền kết cấu thép & gia công cơ khí
          each item in infor_sanpham
            h3.detail--subtitle=item.name
            p.detail--description=item.description
        .col-sm-5
          .detail--img
            img(src="images/daychuyen.png", alt="")
        .clear-fix
      .products
        h2.detail--title.title--base.text-center Sản phẩm
        .products--list.row
          ul.nav.nav-pills
            li.active
              a(href='#tab-1a', data-toggle='tab') all
            li
              a(href='#tab-2a', data-toggle='tab') dây chuyền kết cấu thép
            li
              a(href='#tab-3a', data-toggle='tab') Nguồn cắt plasma
            li
              a(href='#tab-4a', data-toggle='tab') Máy cắt laser 
            li
              a(href='#tab-5a', data-toggle='tab') Máy phun bi làm sạch
            li
              a(href='#tab-6a', data-toggle='tab') Robot Hàn
          .tab-content.clearfix
            #tab-1a.tab-pane.active
              -for(i=0 ; i< 12 ; i++)
                .col-sm-4
                  +product("images/sanpham.png","MÁY HÀN ĐỨNG 3 TRONG 1 THÔNG MINH IHH0815 S1","Dây chuyền kết cấu thép")
            #tab-2a.tab-pane
              -for(i=0 ; i< 12 ; i++)
                .col-sm-4
                  +product("images/sanpham1.png","MÁY HÀN ĐỨNG 3 TRONG 1 THÔNG MINH IHH0815 S1","Dây chuyền kết cấu thép")
            #tab-3a.tab-pane
              -for(i=0 ; i< 12 ; i++)
                .col-sm-4
                  +product("images/sanpham2.png","MÁY HÀN ĐỨNG 3 TRONG 1 THÔNG MINH IHH0815 S1","Dây chuyền kết cấu thép")
            #tab-4a.tab-pane
              -for(i=0 ; i< 12 ; i++)
                .col-sm-4
                  +product("images/sanpham3.png","MÁY HÀN ĐỨNG 3 TRONG 1 THÔNG MINH IHH0815 S1","Dây chuyền kết cấu thép")
            #tab-5a.tab-pane
              -for(i=0 ; i< 12 ; i++)
                .col-sm-4
                  +product("images/sanpham1.png","MÁY HÀN ĐỨNG 3 TRONG 1 THÔNG MINH IHH0815 S1","Dây chuyền kết cấu thép")
            #tab-6a.tab-pane
              -for(i=0 ; i< 12 ; i++)
                .col-sm-4
                  +product("images/sanpham2.png","MÁY HÀN ĐỨNG 3 TRONG 1 THÔNG MINH IHH0815 S1","Dây chuyền kết cấu thép")
      .news
        h2.detail--title.title--base.text-center Tin tức
        .row
          -for(i=0 ; i< 3 ; i++)
            .col-sm-4
              .new-item
                .new-item__img
                  img(src="images/home_news1.png", alt="")
                .new-item__info
                  .new-item__title
                    h4 Chúng tôi không chỉ dừng lại ở bán hàng
                  .new-item__content
                    p Chúng tôi liên tục cải thiện chất lượng dịch vụ . Chúng tôi liên tục cải thiện chất lượng dịch vụ
                  .new-item__act
                    a(href="#") Xem thêm
      .projects
        h2.detail--title.title--base.text-center Dự án
        .project-slide
          .owl-carousel.owl-theme.row
            -for(i= 0 ; i< 4 ; i++)
              .item.text-center.col-sm-10.col-sm-offset-1
                .projects__img
                  img(src="images/pj_img1.png", alt="")
                .projects__title
                  h3 Máy hàng cổng GBH-4000
                .projects__text
                  h4 Lắp đặt hàn cổng GBH-4000 Tại amecc
                .projects__act
                  a(href="#") Xem thêm
