extends _layouts/layout
block content
  section#News.News
    .container
      .row
        .col-sm-12
          .News__title
            ul.list-inline
              li
                a(href="#")
                  |Trang chủ
                  span -
              li
                a(href="#")
                  |Tin tức
                  span -
              li
                p
                  |Chúng tôi không chỉ dừng lại ở bán hàng
          .News__content
            .title.text-center
              h1 MÁY HÀN CỔNG GBH-4000 TẠI AMECC
            .time-up
              p Ngày đăng: 
                span.day 17-07-2017 
                span | 
                span Lượt xem: 
                span.view 1051
            .post
              p Công ty cổ phần cơ khí xây dựng AMECC (AMECC JSC), tiền thân là Công ty cổ phần LISEMCO 2, được thành lập năm 2008, đổi tên thành Công ty cổ phần
                | cơ khí xây dựng AMECC vào ngày 25/4/2016. Với đội ngũ cán bộ công nhân viên chuyên nghiệp, đội ngũ công nhân đầy nhiệt huyết, nhiều thợ hàn và các
                | thợ lành nghề khác đạt chứng chỉ quốc tế, AMECC đã từng tham gia nhiều công trình lớn, trọng điểm tại Việt nam.
                | AMECC JSC hiện có 2 nhà máy chế tạo thiết bị và kết cấu thép có tổng diện tích 210.000M2, và năng lực gia công chế tạo khoảng 30.000 tấn/năm
              p AMECC là một trong những đơn vị lớn đang sử dụng máy hàn cổng Bruco cung cấp bởi Weldcom. Trong ảnh là máy hàn cổng hạng nặng Bruco GBH 4000 
              p Tandem (2 dây 2 hồ quang). Đặc điểm ưu việt của GBH 4000 là mang lại tốc độ hàn rất nhanh so với các sản phẩm phổ thông nhờ khả năng điền đầy mối hàn 
                | tăng gấp đôi. Với điều kiện thực tế sản xuất tại Amecc (hay phải hàn các dầm thép lớn với số lượng nhiều), Bruco GBH 4000 đã đáp ứng xuất sắc yêu cầu sản 
                | xuất của nhà máy, mang lại sự hài lòng của khách hàng về sản phẩm và giải pháp mà Weldcom cung cấp.
                | Ngoài sản phẩm máy hàn cổng, WELDCOM đã cung cấp rất nhiều các máy móc thiết bị cho Amecc như máy hàn que, máy hàn mig/mag, máy đột CNC,
                | máy cắt tôn thủy lưc...Có thể nói, Amecc là khách hàng thường xuyên, là đối tác quan trọng của chúng tôi.
              p Trong thời gian sắp tới, WELDCOM sẽ phấn đấu hơn nữa về sản phẩm cũng như dịch vụ  nhằm mục tiêu giữ vững vị trí là đối tác tin cậy, là người bạn đồng 
                | hành trên con đường phát triển cùng AMECC và quý khách hàng.
              img(src="images/DuAn1_03.png", alt="")
              img(src="images/DuAn2_06.png", alt="")