extends _layouts/layout
block content
  section#product-page.product-page
    .container
      .row
        .col-sm-12
          .product__title
            ul.list-inline
              li
                a(href="#")
                  |Trang chủ
                  span -
              li
                a(href="#")
                  |Sản phẩm
                  span -
              li
                p
                  |Máy cắt ống CNC Bruco
      .row
        .col-sm-5
          .product-img
            img(src="images/SanPham-img.png", alt="")
        .col-sm-7
          .product-name
            h3 Máy cắt ống cnc bruco bcp6-630x1
          .product-title
            h4 Catalog : 
              span dây chuyền kết cấu thép
          .product-view
            p Lượt xem : 
              span 684
          .product-info
            h4 Thông số chung : 
            p Đây là máy cắt ống CNC chuyên dụng với hai chế độ cắt oxi gas và Plasma. Máy được tích hợp bộ điều khiển CNC tiên tiến FANGLING F6400 SYSTEM với màn hình cảm ứng 15 inch LCD. Với bộ điều khiển này máy có điều khiển một lúc 4 trục CNC và không đồng thời 5 trục. Phần mềm Nesting AnyPIPE hỗ trợ tối ưu cho quá trình cắt và có thể thích ứng với phần mềm Tekla 18.0 và cao hơn.
          .product-order
            a(href="#") Báo giá
      .row
        .col-sm-5
          .product-detail
            table
              thead
                tr
                  td 
                    p Mô tả
                  td 
                    p Thông số
              tbody
                tr
                  td
                    p Đường kính ông 
                  td 
                    p 60 - 630mm
                tr
                  td
                    p Chiều dài ống tối đa
                  td 
                    p 12m 
                tr
                  td
                    p Trọng lượng tối đa
                  td 
                    p 3 tấn
                tr
                  td
                    p Bộ giá giữ ông
                  td 
                    p 5 bộ
                tr
                  td
                    p Bộ chính xác điều khiển
                  td 
                    p +/-0.0001mm
                tr
                  td
                    p Cơ cấu chuyển động mở cắt
                  td 
                    p 3 trục CNC Y, B ,C
                tr
                  td
                    p Nguồn cấp cho máy 
                  td 
                    p 220V 50-60Hz
                tr
                  td
                    p Nguồn cấp cho nguồn Plasma
                  td 
                    p 380V 50-60Hz
        .col-sm-7
          .real-picture
            .real-picture__title.text-center
              h1 Hình ảnh thực tiễn
            .real-picture__img
              img(src="images/detail-img.png", alt="")
          .detail-orther
            .title
              h3 Các thông số khác
            ul
              li
                p - Đầu cắt : Hai mỏ thay đổi
              li
                p - Một mỏ Oxy Gas
              li
                p - Một mỏ Plasma Hypertherm Max200 với nguồn Plasma 200HA
              li
                p - Ray chuyển động giá đỡ phôi : P24, 2 x 12 m
              li
                p - Ray chuyển động mỏ cắt : P24 , 2x14 m 
              li
                p - Động cơ servo : Panasonic (Japan)
              li
                p - Hộp số : Neugaut (Germany)