footer#footer.footer
  .footer__wrap
    .footer__form.container
      h1 liên hệ với chúng tôi
      .information.col-md-6
        p Số 463 - đường ngô gia tự Phường Đức Giang - Quận Long Biên - TP Hà Nội
          span Địa chỉ:
        p +84 112 222 333
          span Hotline:
        p brucomachine@gmail.com
          span Email:
        p Thứ 2 - Thứ 6: 8:00 - 12:00
          span Làm việc:
        p Thứ 7: 8:00 - 17:00
      form.form__contact.col-md-5.col-sm-offset-1(action="#")
        input#name(type="text", name="name", placeholder="Tên")
        input#email(type="text", name="email", placeholder="Email")
        input#phone(type="tel", name="phone", placeholder="Số điện thoại")
        input#address(type="text", name="address", placeholder="Địa chỉ")
        textarea#mess(name="mess", cols="30", rows="10", placeholder="Tên sản phẩm + Lời nhắn")
        button(type="submit") Gửi đi
  .footer__bottom
    p &copy; Bruco Machine. All Rights Reserved 2018

//#footer