header#header.header
  .container
    nav.navbar.header__wrap
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.logo.fleft
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            //- span.sr-only Toggle navigation
            //- span.icon-bar
            //- span.icon-bar
            //- span.icon-bar
            i.fas.fa-bars
          a.navbar-brand(href='#')
            img(src="images/logo.png", alt="")
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.main__menu.fright
          ul.nav.navbar-nav
            li
              a(href="#")
                span trang chủ
            li
              a(href="#")
                span giới thiệu
            li
              a(href="#")
                span sản phẩm
            li
              a(href="#")
                span tin tức
            li
              a(href="#")
                span dự án
            li
              a(href="#")
                span liên hệ
        // /.navbar-collapse
        // /.container-fluid

//#header
